{% extends 'layout.html.twig' %}

{% block content %}
    <ul>
        {% for game in games %}
            <li>
                <a href="{{ path('game_view', {'id': game.id}) }}">{{ game.date.toString }}: {{ game.white }} - {{ game.black }}: {{ game.result }}</a>
                {{ game|game_to_pgn_div() }}
            </li>
        {% else %}
            <li>{{ 'game.list.no_games'|trans }}</li>
        {% endfor %}
    </ul>
{% endblock %}
