{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

{% block body %}
    <header>

        <nav>
            <a href="{{ path('homepage') }}">{{ 'nav.home'|trans }}</a>
            {% if app.user %}
                <a href="/logout">{{ 'nav.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('login') }}">{{ 'nav.login'|trans }}</a>
                <a href="{{ path('register') }}">{{ 'nav.register'|trans }}</a>
            {% endif %}
            <a href="{{ path('import_pgn') }}">{{ 'nav.import_pgn'|trans }}</a>
            <a href="{{ path('game_list') }}">{{ 'nav.game_list'|trans }}</a>
        </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
        \(^)> Chess-DB
    </footer>

{% endblock %}
